/* ==================================
  CSS EXCLUSIVO SOBRE EPASB
================================== */


.about-hero{

height:650px;

background:
url("../images/about-water.jpg");

background-size:cover;
background-position:center;

display:flex;
align-items:center;

position:relative;

color:white;

}

.about-overlay{

position:absolute;
inset:0;

background:
linear-gradient(
120deg,
rgba(0,59,92,.92),
rgba(0,180,216,.55)
);

}

.about-hero-content{

position:relative;
z-index:2;

}
.about-badge{

background:rgba(255,255,255,.15);

padding:10px 20px;

border-radius:30px;

}
.about-hero h1{

font-size:60px;

line-height:1.1;

margin:30px 0;

font-weight:800;

}

.about-hero p{

font-size:20px;

max-width:700px;

}

.about-section{

padding:90px 0;

}

.about-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

align-items:center;

}
.about-image img{

width:100%;

border-radius:25px;

}
.about-tag{

color:#0077B6;

font-weight:700;

}

.about-text h2{

font-size:36px;

color:#003B5C;

margin:20px 0;

}

.about-text p{

line-height:1.8;

margin-bottom:20px;

}

.about-background{

background:#F1FAFE;

}

.about-title{

text-align:center;

font-size:36px;

color:#003B5C;

margin-bottom:40px;

}
.about-cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.about-card{

background:white;

padding:35px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

text-align:center;

}

.about-card h3{

color:#003B5C;

margin-bottom:15px;

}
.about-citizen{

background:

linear-gradient(
135deg,
#003B5C,
#00B4D8
);

color:white;

padding:80px 0;

text-align:center;

}

.about-citizen h2{

font-size:38px;

}

.about-contact{

display:flex;

justify-content:center;

gap:50px;

margin-top:35px;

font-size:18px;

}

@media(max-width:900px){


.about-grid{

grid-template-columns:1fr;

}

.about-cards{

grid-template-columns:1fr;

}

.about-hero h1{

font-size:38px;

}
.about-contact{

flex-direction:column;

gap:20px;

}


}